/* ==========================================================================
   BUTTON COLOR
   ========================================================================== */

/* ==========================================================================
   BUTTON SIZE
   ========================================================================== */
.ant-btn-lg {
  font-size: px-to-rem(16px);
  height: px-to-rem(40px);
  padding: px-to-rem(7px) px-to-rem(15px);
  border-radius: 8px;
}
